@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap')

rose = #FF0A47
rose_01 = rgba(255, 49, 62, 0.1)
rose_02 = rgba(255, 49, 62, 0.2)
green = #0affc6
green_01 = rgba(10, 255, 198, 0.1)
green_02 = rgba(10, 255, 198, 0.2)

// Общие стили

*
  box-sizing border-box
  font-family 'Montserrat'
  font-size 14px
  font-weight 600
  color white

body
  padding 0
  margin 0
  background-color #0c091a

h2
  font-weight 300
  font-size 42px
  text-align center

h3
  font-weight 300
  font-size 32px

main
  padding 4em

// все кнопки кроме кнопок счетчика
.button
  padding 8px 12px
  border-radius 4px
  border none
  cursor pointer
  transform scale(1)
  transition: all 0.3s ease-in-out
  min-width 100px
  background-color white

  &:hover
    box-shadow 0 0 0 20px #333 inset
    color white

  &:active
    transition: all 0.1s ease
    transform scale(0.9)

// Все цены
.price
  display flex
  transition: all 0.3s ease-in-out
  min-width 130px
  font-size 14px

  .rub
    display flex
    font-size 1.3em
    font-weight 700
    line-height 17px

    .zeros
      font-size 0.65em
      position relative
      top -2px
      font-weight 700

    .curr
      font-size 0.65em
      position relative
      top -2px
      margin-left 3px
      font-weight 700

  .usd
    font-size 0.93em
    color #494659
    display flex
    margin-left 4px
    position relative
    top -2px

    .zeros
      font-size 0.8em
      font-weight 600
      color inherit
      position relative
      top 1px

    .curr
      font-size 0.8em
      margin-left 3px
      color inherit
      position relative
      top 1px

// блок с товарами
.products
  margin-top 4em
  background #171428
  border-radius 20px
  padding 20px 51px

  &.red
    border 2px solid rose

  &.red h2
  &.red h3
    color rose

  &.green
    border 2px solid green

  &.green h2
  &.green h3
    color green

// Строка товара (в корзине/в списке)
.product
  display flex
  flex-wrap wrap
  gap 15px
  margin 30px 0
  align-items first baseline

  .title
    font-weight 500
    letter-spacing -0.03em
    transition all 0.2s ease
    min-width 300px
    flex 1

.count-in-cart
  min-width 100px
  min-height 30px
  display flex

  // кнопки счетчика
  button
    border-radius 4px
    border none
    transition all 0.2s ease
    cursor pointer

    // кнопка "+"
    &.add
      height 29px
      padding 7px 0 7px 12px
      border-radius 4px 0 0 4px

      &:hover
        box-shadow 15px 0 5px 0 rgba(121, 86, 209, 0.1) inset

      &:active svg
        transform scale(1.5)

      svg
        top -4px
        transform scale(1)
        transition all 0.2s ease

    // кнопка "-"
    &.sub
      height 29px
      padding 7px 12px 7px 0
      border-radius 0 4px 4px 0

      &:hover
        box-shadow -15px 0 5px 0 rgba(121, 86, 209, 0.1) inset

      &:active svg
        transform scale(1.5)

      svg
        top 1px
        transform scale(1)
        transition all 0.2s ease

    &:disabled
      svg
        opacity 0.3

      &:hover
        box-shadow none !important

    svg
      position relative

  // инпут где отображается кол-во товара
  input
    max-width 50px
    border none
    -webkit-appearance: none;
    -moz-appearance: textfield;
    outline none
    height 29px
    text-align center
    background-color white
    color #333

// Mobile
@media screen and (max-width: 600px)
  main
    padding 20px

  h2
    font-size 32px

  h3
    font-size 32px

  .products
    margin-top 3em
    border-radius 10px
    padding 20px

    h3
      padding-bottom 10px

    &.red h3
      border-bottom 1px solid rose

    &.green h3
      border-bottom 1px solid green

  .product
    gap 10px
    margin 50px 0

  .title
    font-weight 700 !important
    min-width 200px !important

  .price
    .rub .zeros
    .rub .curr
      color #acacb7